@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors  ——————————————————————————————————————————————————————————— */


/* Cards ——————————————————————————————————————————————————————————— */
.card-zoom {
  @apply relative flex items-center justify-center m-3 overflow-hidden shadow-xl w-60 h-60 rounded-2xl;
}

.card-zoom-image {
  @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover;
}

.card-zoom-text {
  @apply absolute text-5xl font-black transition-all duration-500 ease-in-out transform scale-150 text-gray-50 opacity-60;
}

.card-zoom:hover .card-zoom-image {
  @apply scale-150;
}

.card-zoom:hover .card-zoom-text {
  @apply scale-100 text-white opacity-100 bg-black rounded-md p-2;
}

/* Avatar ——————————————————————————————————————————————————————————— */
.card-zoom-avatar {
  @apply relative flex items-center justify-center m-3 overflow-hidden shadow-sm w-20 h-20 rounded-full;
}

.avatar-image {
  @apply absolute w-full h-full transition-all duration-300 ease-in-out transform bg-center bg-cover;
}

/* NavBar ——————————————————————————————————————————————————————————— */
.active {
  flex: auto;
  background-color: rgb(200, 149, 248);
  color: black;
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  border-radius:4px;
  transition: all ease;
  transition-duration: .2s;
}
